.homepage-text {
  color: white;
  font-family: "Kumbh Sans", sans-serif;
  margin-top: 25px;
}

.hompage-one-overflow {
  overflow: hidden;
}
.hompage-two-overflow {
  overflow: hidden;
}
.hompage-three-overflow {
  overflow: hidden;
}

#homepage-image-one {
  width: 100%;
  height: auto;
  transition: all 1s;
}

#homepage-image-two {
  width: 100%;
  transition: all 1s;
}
#homepage-image-three {
  width: 100%;
  transition: all 1s;
}

#homepage-image-one:hover {
  transform: scale(1.2);
}
#homepage-image-two:hover {
  transform: scale(1.2);
}
#homepage-image-three:hover {
  transform: scale(1.2);
}

.image-item-one {
  background-color: rgb(65, 65, 65);
  color: white;
  border: 6px solid rgb(93, 93, 93);
  border-radius: 5px;
  padding: 20px;
}

.image-item-two {
  margin-top: 100px;
  background-color: rgb(65, 65, 65);
  color: white;
  border: 6px solid rgb(93, 93, 93);
  border-radius: 5px;
  padding: 20px;
}
.image-item-three {
  margin-top: 100px;
  background-color: rgb(65, 65, 65);
  color: white;
  border: 6px solid rgb(93, 93, 93);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1077px) {
  .hompage-one-overflow {
    height: 185px;
  }
  .hompage-two-overflow {
    /* margin-top: 50px; */
    height: 468px !important;
  }
  .hompage-three-overflow {
    /* margin-top: 100px; */
    height: 220px;
  }
  .image-item-two {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .image-item-three {
    margin-top: 10px;
  }
}
