.homepage-text {
  color: white;
  font-family: "Kumbh Sans", sans-serif;
  margin-top: 25px;
}

.hompage-one-overflow {
  overflow: hidden;
  height: 300px;
}
.hompage-two-overflow {
  overflow: hidden;
  margin-top: 50px;
  height: 767px;
}
.hompage-three-overflow {
  overflow: hidden;
  margin-top: 100px;
  height: 360px;
}

#homepage-image-one {
  width: 100%;
  height: auto;
  transition: all 1s;
}

#homepage-image-two {
  width: 100%;
  transition: all 1s;
}
#homepage-image-three {
  width: 100%;
  transition: all 1s;
}

#homepage-image-one:hover {
  transform: scale(1.5);
  transition: all 1s;
}
#homepage-image-two:hover {
  transform: scale(1.5);
}

#homepage-image-three:hover {
  transform: scale(1.5);
}

@media only screen and (max-width: 991px) {
  #homepage-image-one {
    width: 100%;
  }
  #homepage-image-two {
    width: 100%;
    margin-top: 20px;
  }
  #homepage-image-three {
    width: 100%;
    margin-top: 20px;
  }
}

.fade-in-from-top {
  animation: fadeinfromtop 2s;
}

@keyframes fadeinfromtop {
  from {
    opacity: 0;
    transform: translate(0%, -200%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
