.upload {
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding-bottom: 10px;
}

.no-upload {
  border: "dashed 3px white";
  border-radius: "4px";
  padding: "5px";
}

.uploading {
  border: "dashed 3px green";
  border-radius: "4px";
  padding: "5px";
  color: green;
}

.upload-image-button {
  background-color: rgb(51, 245, 51);
}

.cancel-upload-image-button {
  background-color: gray;
}

.carousel-item-image {
  height: 300px !important;
}

.blog-post {
  background-color: rgb(65, 65, 65);
  color: white;
  border: 6px solid rgb(93, 93, 93);
  border-radius: 5px;
  padding: 20px;
}

.blog-post-title {
  color: white;
  font-family: '"Kumbh Sans", sans-serif';
}

.blog-post-text {
  font-size: 15px;
  color: white;
  font-family: '"Kumbh Sans", sans-serif';
  white-space: pre-wrap;
  overflow-wrap: break-word;
}


.slide-in{
  
}

