.blog-page-title {
  color: white;
  font-family: "Kumbh Sans", sans-serif;
  margin-top: 30px;
}

.create-new-post {
  margin: auto;
  margin-bottom: 30px;
}

.sidebar {
  background-color: rgb(65, 65, 65);
  color: white;
  border: 6px solid rgb(93, 93, 93);
  border-radius: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  text-align: center !important;
  padding: 5px 0px 5px 0px;
}

.sidebar-link {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background-color: rgb(65, 65, 65);
  list-style-type: none;
}

.sidebar-link-a {
  color: white;
}

.sidebar-link-a:hover {
  color: rgb(158, 158, 158);
  cursor: pointer;
}

.load-from-right {
  animation: loadbottomright 2s;
}

@keyframes loadbottomright {
  from {
    opacity: 0;
    filter: blur(5px);
  }
  to {
    opacity: 1;
  }
}
