html,
#root {
  background-color: rgb(41, 41, 41);
  min-height: 120vh;
  scroll-behavior: smooth;
}

.about-page-title {
  color: white;
  font-family: sans-serif;
}

.about-page-text {
  font-size: 30px;
  color: white;
  font-family: sans-serif;
}
