html,
#root {
  background-color: rgb(41, 41, 41);
  min-height: 120vh;
  scroll-behavior: smooth;
}

/* ----------------------Homepage----------------------- */

#homepage-title {
  font-size: 170%;
  font-weight: bold;
  text-shadow: 0px 0px 1px black;
  font-family: "EB Garamond", serif;
}

@media (max-width: 991px) {
  #homepage-title {
    font-size: 135%;
  }
}

#homepage-title:hover {
  color: rgb(177, 177, 177);
}

.home-page-image:hover {
  color: white;
  text-shadow: 0px 0px 5px black;
}

.centered-text {
  font-family: "Kumbh Sans", sans-serif;
  position: absolute;
  font-size: 30px;
  z-index: 1000;
  color: white;
  left: 50%;
  text-shadow: 0px 0px 2px black;
  transform: translate(-50%, -50%);
}

.image-gallery {
  height: auto;
  width: 100%;
}

#homepage-button-div {
  margin-top: 20%;
}

#homepage-link {
  border-style: solid;
  padding: 5px;
  font-weight: bold;
  color: black;
}

#homepage-image-one {
  width: 100%;
}

#homepage-image-two {
  width: 100%;
  margin-top: 50px;
}
#homepage-image-three {
  width: 100%;
  margin-top: 100px;
}

@media only screen and (max-width: 991px) {
  #homepage-image-one {
    width: 100%;
  }
  #homepage-image-two {
    width: 100%;
    margin-top: 20px;
  }
  #homepage-image-three {
    width: 100%;
    margin-top: 20px;
  }
}

/* -----------------Navbar--------------- */

@media all and (min-width: 767px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }
  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}

.link-text {
  background-color: #212121 !important;
  /* font-size: 1rem !important; */
  font-weight: bold;
  font-family: "EB Garamond", serif;
  /* "Shadows Into Light", cursive; */
}

.bg-dark {
  background-color: #212121 !important;
}

.dd-link-text {
  background-color: #212121 !important;
  color: white !important;
  /* font-size: 1.5rem !important; */
}

/* ----------------------------------------aboutpage---------------------------- */

.about-page-title {
  color: white;
  font-family: sans-serif;
}

.about-page-text {
  font-size: 30px;
  color: white;
  font-family: sans-serif;
}
